<!DOCTYPE html>
<html>

<head>
    <title>Try it out</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <h3>Upload an image or take a new one</h3>

    <div>
        <form method="POST" action="/submit/" enctype="multipart/form-data">
            <div>
                <label for="upload">Upload an image:</label>
                <input type="file" id="upload" name="file" accept="image/*">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        <h3>Results:</h3>
        {% if prediction %}
        <p>{{ prediction }} ({{ confidence }}% confidence)</p>
        {% else %}
        <p>Submit an image to see your results.</p>
        {% endif %}
    </div>

</body>

</html>