{% extends "base.html" %}

{% block title %}SkinScreen - Model{% endblock %}

{% block content %}
<header class="w3-display-container w3-wide" style="padding-bottom:32px;" id="home">

    <img class="w3-image"
        src="https://images.unsplash.com/photo-1605001011156-cbf0b0f67a51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80"
        alt="test" width="1800" height="500">

    <div class="w3-display-left w3-padding-large">
        <h1 class="w3-jumbo w3-text-white">SkinScreen</h1>
        <h3 class="w3-text-white w3-hide-small"><b>The first step to taking charge of your skin health</b></h3>
    </div>
</header>
<div class="top-container">

    <div class="title-container">
        <h1>Start Your Skin Health Journey With Us<h1></br></br>
    </div>

    <div class="message-container">
        <h3>Upload pictures of your skin condition as specified in our FAQ. Our model will then process your
            picture, identify and name your problem instantly. It will also guide you about further action.
    </div>
    </h3></br>
</div>
<div class="full-container">
    <div class="container-25">
        <img src="static/media/takingphoto.png" style="width:80%" alt="camera">
    </div>
    <div class="container-75">
        <h3>Upload an Image or Take a New One</h3>

        <div>
            <form method="POST" action="/predict/" enctype="multipart/form-data">
                <div>
                    <label for="upload">Upload an image:</label>
                    <input type="file" id="upload" name="file" accept="image/*">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div>
            </br></br>
            <h3>Review Your Results</h3>
            <div class="black-box">
                {% if prediction %}
                <p>{{ prediction }} ({{ confidence }}% confidence)</p>
                {% else %}
                </br>
                <p>Submit an image to see your results.</p>
                {% endif %}
            </div>
            </br></br>
            <h3>Potential Next Steps</h3>
        </div>
    </div>
</div>

<div class="rec-container">
    <p>Placeholder for Zip Code Recommendation</p>
</div>
{% endblock %}