{% extends "base.html" %}

{% block title %}SkinScreen - FAQ{% endblock %}

{% block content %}
<h1>Frequently Asked Questions (FAQs)</h1>

<h2>Is SkinScreen an alternative to going to the doctor?</h2>
<p><span style="text-decoration: underline;">Is SkinScreen an alternative to going to the doctor?</span></p>
<p>No! You can think of SkinScreen as a similar concept to sunscreen. Sunscreen is a preventative first step to help you
    take care of your skin health, but if you have a concern, you should also visit a doctor. SkinScreen works in the
    same way - we’re here to help you take care of your skin health by helping you become better informed about your
    skin concern. But, you should also <strong>always visit a doctor</strong> if you have a skin concern.</p>

<h2>How do I take a good picture to upload to the website?</h2>
<p><span style="text-decoration: underline;">How do I take a good picture to upload to the website?</span></p>
<ol>
    <li>Make sure you have a good quality camera (phone cameras work great for this!)</li>
    <li>Make sure to take a picture in good lighting: flash or bright natural lighting are preferred. If you have a
        macro mode to take pictures on your phone, that would be even more helpful for classification.</li>
    <li>Make sure your entire skin concern is in the frame and in focus.</li>
    <li>Try to limit the image to just one skin concern. If there are multiple concerns in the same image, it will be
        difficult to classify.</li>
</ol>
{% endblock %}